#website{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 98vw;
    /* position: relative; */
    
    
    #first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  #fdf2e9; 
        padding: 100px 50px;
        gap: 40px;
    
    
    
    
        #nav_bar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 400px;
            /* background-color: rgba(255, 166, 0, 0.142); */
            padding: 20px 5px;
            position: fixed;
            top: 10px;

           

            #logo{
                height:21px;
                width: 150px;
               
                
                
             }
                #nav_menus{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 650px;
                    gap: 50px;
                    font-weight: 600;
                    font-family: sans-serif;
                    #nav_menu{
                        width: 120px;
                        border: none;
                        background-color: rgba(255, 166, 0, 0); ;
                        font-size: 16px;
                        font-family:  sans-serif ;
                        font-weight: 550;
                        color: rgba(0, 0, 0, 0.771);
                        background-color:orange;
                        border-radius:10px ;
                        padding: 10px 1px;
                        color: white;
                     }
                }
                        
             }
    
    #main{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 70px;
            #text{
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                padding: 20px 20px ;
                    #heading{
                        font-size: 45px;
                        width: 500px;
                        font-weight: 750;
                        font-family: sans-serif;
                        line-height: 47px;
                        color: rgba(0, 0, 0, 0.816);
                        letter-spacing: 0.01cm;
                        word-spacing: 1px;
                        
                     }
                     #description{
                        width: 480px;
                        font-size: 20px;
                        font-family: sans-serif;
                        padding: 28px 0px;
                        line-height:32px ;
                        letter-spacing: 1px;
                     }
                    #double{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        padding: 30px 0px;
                        #one{
                            background-color: orange;
                            color: white;
                            border-radius: 10px;
                            padding: 13px 30px;
                            border: none;
                            font-size: 20px;
                            font-family: sans-serif;
                            font-weight:600;
                        }
                        #two{
                            background-color:white;
                            color:rgba(0, 0, 0, 0.781);
                            border-radius: 10px;
                            padding: 13px 30px;
                            border: none;
                            font-size: 20px;
                            font-family: sans-serif;
                            font-weight:600;
                        }
                    }
                    #members{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                            #images{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                               #image{
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                                margin-left: -12px;
                                border: 2px white solid;
                                
                                

                               }
                                } 
                            #count_text{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                
                                #count{
                                    color: orange;
                                    font-weight: 900; 
                                    font-size:18px;
                                    font-family: sans-serif;

                                }
                                #text{
                                    font-family: sans-serif;
                                    font-size:18px;
                                    font-family: sans-serif;
                                    font-weight: 600;
                                    color: rgba(0, 0, 0, 0.728);
                                    margin-left: -15px;
                                    
                                }
                            }


                    }
                }
             #photo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                   #photo1{
                        height: 500px;
                        width: 500px;
                    }
                }

        

    }  
    }
    #second{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
            #featured{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                #text{
                    color: rgba(0, 0, 0, 0.479);
                    font-weight:700 ;
                    font-family: sans-serif;
                }
                #images{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 70px;
                    background-color: none;
                    filter:grayscale();
                    
                    #image1{
                        width: 180px;
                        color: grey;
                    }
                    #image2{
                        width: 120px;
                        color: grey;
                        height: 40px;
                    }
                    #image3{
                        width: 180px;
                        
                    }
                    #image4{
                        width: 140px;
                        height: 30px;
                        
                    }
                    #image5{
                        width: 160px;

                        
                    }
                }
            }
            #howitworks{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding: 70px 0px;
                gap: 20px;
                #text{
                    font-family: sans-serif;
                    color: rgba(255, 68, 0, 0.845);
                    font-weight: 600;
                }
                #mainheading{
                    font-size: 40px;
                    font-family:Times New Roman;
                    font-weight:bolder ;
                    color: rgba(0, 0, 0, 0.911);
                   

                }
                #one{
                    display: flex;
                     flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    #matter{
                        display: flex;
                        flex-direction: column;
                       justify-content: center;
                       align-items: start;
                       padding: 0px 20px;

                    }
                       #text{
                        font-size: 80px;
                        color: rgba(128, 128, 128, 0.553);
                    }
                       #heading{
                        font-size: 35px;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.84);
                        padding: 10px 0px;
                    }
                        #description{
                        font-size: 20px;
                        line-height: 30px;
                        padding: 15px 0px;
                    }
                    #image1{
                        display: flex;
                        flex-direction: column;
                       justify-content: center;
                       align-items: center;
                        background-image: linear-gradient(circle orange );
                    }
                
                    #image{
                        height: 400px;
                        width: 200px;
                        padding: 50px 180px;
                        
                    }
                }
                    #two{
                        display: flex;
                         flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                        #matter{
                            display: flex;
                            flex-direction: column;
                           justify-content: center;
                           align-items: start;
                           padding: 0px 20px;
    
                        }
                           #text{
                            font-size: 80px;
                            color: rgba(128, 128, 128, 0.553);
                        }
                           #heading{
                            font-size: 35px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.84);
                            padding: 10px 0px;
                        }
                            #description{
                            font-size: 20px;
                            line-height: 30px;
                            padding: 15px 0px;
                        }
                        #image1{
                            display: flex;
                            flex-direction: column;
                           justify-content: center;
                           align-items: center;
                            
                        }
                        #image{
                            height: 400px;
                            width: 200px;
                            padding: 50px 180px;
                            
                        }
                    }
                    #three{
                        display: flex;
                         flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                        #matter{
                            display: flex;
                            flex-direction: column;
                           justify-content: center;
                           align-items: start;
                           padding: 0px 20px;
    
                        }
                           #text{
                            font-size: 80px;
                            color: rgba(128, 128, 128, 0.553);
                        }
                           #heading{
                            font-size: 35px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.84);
                            padding: 10px 0px;
                        }
                            #description{
                            font-size: 20px;
                            line-height: 30px;
                            padding: 15px 0px;
                        }
                        #image1{
                            display: flex;
                            flex-direction: column;
                           justify-content: center;
                           align-items: center;
                            background-image: linear-gradient(circle orange );
                        }
                    
                        #image{
                            height: 400px;
                            width: 200px;
                            padding: 50px 180px;
                            
                        }
                    }
                      
                

                }
            #meals{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                #text{
                    color: orangered;
                }
                #heading{
                    font-size: 45px;
                    font-weight: 600;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.813);
                }
                #cards{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 60px;
                    padding: 40px 30px;
                    
                    #card1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                         #image{
                            height: 210px;
                            width: 310px;
                            
                        }
                        #matter{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            gap: 10px;
                            padding: 30px 30px ;
                            #type{
                                background-color: rgba(0, 128, 0, 0.651);
                                padding: 5px 7px;
                                
                            }
                            #dish{
                                font-size: 28px;
                            }
                            #about{
                                display: flex;
                                 flex-direction: column;
                                justify-content: center;
                                align-items: start;
                                font-size: 20px;
                                gap: 15px;
                                padding: 15px 0px;


                            }
                            #calories{
                                font-size: 20px;
                            }
                        }
                    }
                    #card2{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                             #image{
                                height: 210px;
                                width: 310px;
                                
                                
                            }
                            #matter{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: start;
                                gap: 10px;
                                padding: 30px 30px ;
                                #type{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                     align-items: center;
                                     gap: 15px;
                                     #type1{
                                        background-color: rgba(0, 128, 0, 0.651);
                                        padding: 5px 7px;
                                    }
                                    #type2{
                                    background-color: rgba(255, 174, 0, 0.719);
                                    padding: 5px 7px;
                                    }
                                }
                                #dish{
                                    font-size: 28px;
                                }
                                #about{
                                    display: flex;
                                     flex-direction: column;
                                    justify-content: center;
                                    align-items: start;
                                    font-size: 20px;
                                    gap: 15px;
                                    padding: 15px 0px;
    
    
                                }
                                #calories{
                                    font-size: 20px;
                                }
                                
    
                            }
                    }
                    #card3{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: startr;
                        gap: 40px;
                        padding: 10px 0px;
                        #heading{
                            font-size: 30px;
                            align-items: start;
                        }
                        #matter{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            font-size: 20px;
                            gap: 20px;
                            #text{
                                color: black;
                            }
                            
                        }

                    }

                            

                        


                
    
                    

                
                
                    

                


                 }
                #recipes{
                    font-size: 20px;
                    color: orangered;
                    
                }
            }   
    }
    #third{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:#fdf2e9;
        padding: 20px 20                    px;
        gap: 50px;
        #matter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 20px;
            padding: 0px 60px;
            #text{
                font-size: 15px;
                color: rgba(255, 68, 0, 0.742);
                font-family: sans-serif;
                font-weight: 700;
                letter-spacing: 1px;
            }
            #heading{
                font-size: 40px;
                font-family: sans-serif;
                font-weight: bolder;
                color: rgba(0, 0, 0, 0.758);
                width: 400px;
               
                
            }
            #feedbacks{
                display: grid;
                grid-template-columns: auto auto;
                padding: 70px 0px;
                gap: 90px;
                
                #feedback{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 20px;
                    
                    #photo{
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                    }
                    #description{
                        font-size: 20px;
                        width: 205px;
                        line-height: 30px;
                    }


                }


            }
            
        }
        #images{
            display: grid;
            grid-template-columns: auto auto ;
            
            gap: 15px;
            #image{
                height: 250px;
                width: 250px;
            }
        }
    


    }
    #fourth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px ;
        padding: 70px 0px;
        #pricing{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 50px;
            padding: 0px 50px;
            #main{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                
            
                 #text{
                    font-size: 15px;
                    font-family: sans-serif;
                    color: rgba(255, 68, 0, 0.724);
                    font-weight: 600;
                }
                #heading{
                        font-size: 40px;
                    font-family: sans-serif;
                    font-weight: 700;
                    color: rgba(0, 0, 0, 0.836);
                }
            }
            #submain{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 25px;

            
             #cards{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 20px 200px;                                         px;
                
                gap: 60px;
                #card1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px rgba(255, 166, 0, 0.237) solid;
                    border-radius: 5%;
                    padding: 50px 50px;
                    #title{
                        font-size: 20px;
                        color: rgba(238, 48, 14, 0.877);
                        font-weight: 600;
                    }
                    #rate{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 15px 0px;
                        gap:7px;
                        #currency{
                            font-size: 30px;
                           
                        }
                        #price{
                            font-size: 70px;
                            font-family: sans-serif;
                        }
                    }
                    #line{
                            font-size: 20px;
                            color: gray;
                    }
                    #matter{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        color: gray;
                        gap: 20px;
                        padding: 30px 0px;
                        align-items: start;
                        

                    }
                    #start{
                        border: none;
                        color: white;
                        background-color:orange;
                        padding: 10px 30px;
                        font-size: 20px;
                        font-weight: 600;
                        border-radius: 10px;
                
                    }

                }
                #card2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #fdf2e9;
                    border-radius: 5%;
                    padding: 50px 50px;
                    #title{
                        font-size: 20px;
                        color: rgba(238, 48, 14, 0.877);
                        font-weight: 600;
                    }
                    #rate{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 15px 0px;
                        gap:7px;
                        #currency{
                            font-size: 30px;
                           
                        }
                        #price{
                            font-size: 70px;
                            font-family: sans-serif;
                        }
                    }
                    #line{
                            font-size: 20px;
                            color: gray;
                    }
                    #matter{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        color: gray;
                        gap: 10px;
                        padding: 30px 0px;
                        align-items: start;
                        

                    }
                    #start{
                        border: none;
                        color: white;
                        background-color:orange;
                        padding: 10px 30px;
                        font-size: 20px;
                        font-weight: 600;
                        border-radius: 10px;
                
                    }
                }

                    
                
                #cote{
                    
                    font-size: 300px;
                }
            

                }


            }

        }
        #features{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 60px;
            padding: 40px 45px;
            #never{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                #logo{
                    height: 30px;
                    width: 30px;
                   border-radius: 50%;
                    background-color: #fdf2e9;
                    padding: 15px 15px;
                    
                }
                #heading{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.895);
                }
                #description{
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.836);
                    line-height: 30px;
                }
                
            }
            #local{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                #logo{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: #fdf2e9;
                    padding: 15px 15px;
                }
                #heading{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.895);
                }
                #description{
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.836);
                    line-height: 30px;
                }
                
            }
            #no{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                #logo{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: #fdf2e9;
                    padding: 15px 15px;
                }
                #heading{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.895);
                }
                #description{
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.836);
                    line-height: 30px;
                }
                
            }
            #pause{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                #logo{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: #fdf2e9;
                    padding: 15px 15px;
                }
                #heading{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.895);
                }
                #description{
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.836);
                    line-height: 30px;
                }
                
            }

        }
    
        


    }
    #fifth{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 166, 0, 0.233);
       
        margin-left: 80px;
        margin-right: 80px;
        
        /* border-radius: 15px; */
        #matter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 53px 50px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            gap: 40px;
            background-color: rgba(255, 111, 0, 0.728);
            #heading{
                font-size: 40px;
                font-family: sans-serif;
                font-weight: 700;
            }
            #description{
                font-size: 19px;
                line-height: 30px;
                width: 650px;
                letter-spacing: 1px;
            }
            #inputs{
                display: grid;
                grid-template-columns: auto auto;
                gap: 30px;
                align-items: end;
                #input{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 10px;
                    #tag{
                        font-size: 17px;
                    }
                    #enter{
                        font-size: 18px;
                        padding: 10px 5px;
                        border-radius: 10px;
                        width: 300px;
                        
                    }
                }
                    #sign{
                        border-radius: 10px;
                        background-color: rgba(46, 2, 2, 0.884);
                        color:white ;
                        font-size: 18px ;
                        height: 45px;
                    }
                    

                }
            }


        
        #photo{
            display: flex;
             flex-direction: row;
            justify-content: center;
            align-items: center;
            /* height:500px ;
            width: 550px; */
            overflow: hidden;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-image: linear-gradient(rgba(255, 166, 0, 0.856),rgba(255, 255, 0, 0.386));
            z-index:-1;
            
            #image{
                height: 470px;
                width: 380px;
                /* background-image: linear-gradient(rgba(255, 166, 0, 0.208),rgba(255, 255, 0, 0.386)); */
            }


        }
        
    }
    #sixth{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 90px;
        padding: 160px 60px;
        color: gray;
        #one{
            display: flex;
             flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 30px;
            #logo{
                height: 20px;
                width: 140px;
            }
            #logos{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 25px;
               
                #logo{
                    height: 20px;
                    width: 20px;
                    
                }
            }
            #text{
                    width: 230px;
                    /* margin-top: 30px; */
                    padding: 30px 0px;
                }

            }
            #two{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 30px;
                #heading{
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 600;
                    color:rgba(0, 0, 0, 0.674) ;
                }
                #matter{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 15px;
                    font-family: sans-serif;
                    

    
                    

                }


            }
            #three{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 28px;
                #heading{
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.674);

                }
                #matter{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap:15px;
                    font-size: 16px;
                    font-family: sans-serif;

                }
            }
            #four{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 28px;
                #heading{
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.674);

                }
                #matter{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap:15px;
                    font-size: 16px;
                    font-family: sans-serif;

                }
            }
            #five{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 28px;
                #heading{
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.674);

                }
                #matter{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 15px;
                   font-size: 16px;
                   font-family: sans-serif;

                }
            }


        }
    /* #testing{
        overflow: hidden;
        cursor: pointer;
        #image{
            height: 300px;
            width: 300px;
        }
            #image:hover{
                background-color: red;
                transform: scale(1.2);
            }
        } */

    }

    }



}     

            
                                
                    
